@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}
<!--Introduction-->
<section class="" style="background-color:#5AC3AF; color:white;">
    <div class="container">
    <div class="row-fluid">
        <div class="img-banner-info span12">
            <div class="col-xs-12">
                <center>
                    <h1>Phần mềm quản lý bán hàng PHOLO</h1>
                    <div class="form-inline ">
                       
                        <div class="" >
                            <a class="btn btn-warning" href="@Url.Action("Register","Home")" style="padding:20px;font-size:20px">
                                DÙNG THỬ MIỄN PHÍ
                            </a>
                        </div>
                    </div>
                    
                    <div style="margin-top:40px;font-size:20px">
                        <div>--- &#9830; ---</div>
                        <br />
                        <ul class="white" style="list-style-type:none">
                        <li></li>
                        <li>Bán hàng, tính tiền, in hoá đơn nhanh.</li>
                        <li>&nbsp</li>
                        <li>Đơn giản, dễ dùng và chạy trên mọi thiết bị.</li>
                        <li>&nbsp</li>
                        <li>Quản lý cửa hàng bán lẻ, theo dõi doanh số, tồn kho.</li>
                        <li>&nbsp</li>
                        <li>Bảng biểu thống kê chi tiết và sinh động.</li>
                        </ul>
                    </div>
                
                </center>
                
                
            </div>
        </div>

       @* <div class="img-banner-pic span12">
            <a href="#"><img class="aligncenter wp-image-43 size-full" src="@Url.Content("~/Content/home/images/SODO.png")" alt="phần mềm quản lý bán hàng pholo.net" width="600" height="347" sizes="(max-width: 600px) 100vw, 600px"></a>
        </div>*@

    </div>
    </div>
</section>
<!--/Introduction-->


<!--Features-->
<section class="services">
    <div class="center">
        <h2>TÍNH NĂNG PHẦN MỀM</h2>
    </div>

    <div class="container">
        <div class="row-fluid">
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-bar-chart icon-large"></i>
                    <p> </p>
                    <h4>Quản lý sản phẩm, đơn hàng</h4>
                    <p>Hệ thống hỗ trợ lưu trữ, quản lý các sản phẩm và đơn hàng một cách đơn giản và thuận tiện nhất.</p>
                </div>
            </div>

            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-cog icon-large"></i>
                    <p></p>
                    <h4>Bán hàng, tính tiền</h4>
                    <p>Tính tiền đơn giản, dễ sử dụng, không mất thời gian hướng dẫn, chỉ cần 5 phút làm quen.
Bán hàng linh động hơn dùng máy tính bảng, điện thoại.</p>
                </div>
            </div>

            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-heart icon-large"></i>
                    <p> </p>
                    <h4>Quản lý tồn kho</h4>
                    <p>Kiểm soát tồn kho chặt chẽ, giảm thất thoát. Nhập kho và cập nhật giá tiện lợi, bán hàng được ngay.
Phương thức quản trị tồn kho linh động theo từng loại hàng hóa, dịch vụ.
Nắm nhanh công nợ với nhà cung cấp, phân phối</p>
                </div>
            </div>

        </div>

        <hr>

        <div class="row-fluid">
            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-globe icon-large"></i>
                    <p> </p>
                    <h4>Quản lý khách hàng</h4>
                    <p>Hệ thống lưu thông tin chi tiết khách hàng lúc tính tiền nhanh chóng, nhờ đó bạn nắm được thói quen mua hàng của khách, hiểu và chăm sóc họ tốt hơn.
Đổi trả hàng tiện lợi theo chính sách cửa hàng.</p>
                </div>
            </div>

            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-camera icon-large"></i>
                    <p> </p>
                    <h4>Khuyến mãi, sản phẩm COMBO</h4>
                    <p>Hệ thống cho phép mở các đợt khuyến mãi hoặc giảm giá vào các dịp đặc biệt. Đồng thời cũng cho phép tạo các sản phẩm COMBO.</p>
                </div>
            </div>

            <div class="span4">
                <div class="center">
                    <i style="font-size: 48px" class="icon-bullhorn icon-large"></i>
                    <p> </p>
                    <h4>Báo cáo thống kê</h4>
                    <p>Phần mềm có đầy đủ và chi tiết các bảng biểu thống kê sinh động, giúp người quản lý dễ dàng nắm bắt được tình hình kinh doanh của cửa hàng. 
                        Từ đó có thể đưa ra kế hoạch phát triển phù hợp.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!--/Features-->

<!--Pricing-->
<style>
    .height-price
    {
        height:60px;
    }
</style>
 <section id="pricing-table" class="container" >
    <div class="center">
        <h2>CÁCH THỨC HOẠT ĐỘNG</h2>
        <p>PHOLO không thu phí khi cửa hàng không phát sinh đơn hàng. </p>
    </div>

    @*<div class="big-gap"></div>*@
    <br />
    <div class="row-fluid  clearfix">
        <div class="span4">
            <ul class="plan plan1">
                <li class="plan-name center">
                    <h3>TÀI KHOẢN CỬA HÀNG</h3>
                </li>
                <li class="height-price"> <i class="fa fa-diamond"></i>  Mỗi cửa hàng sẽ một tài khoản tiền để hoạt động</li>
                <li class="height-price"> <i class="fa fa-diamond"></i> Mỗi tháng sẽ trừ đi một số tiền trong tài khoản dựa vào số đơn hàng mà cửa hàng đã bán được</li>
                <li class="height-price"> <i class="fa fa-diamond"></i> <strong>100 đơn hàng = 20.000 vnđ</strong></li>
                <li class="height-price"> <i class="fa fa-diamond"></i> *** Đặc biệt là số tiền bị trừ tối đa 200.000 vnđ </li>
                
            </ul>
        </div>

        <div class="span4">
            <ul class="plan plan2 ">
                <li class="plan-name center">
                    <h3>ĐĂNG KÝ MIỄN PHÍ</h3>
                </li>
                <li class="height-price"> <i class="fa fa-gift"></i> Tặng 500.000 vnđ vào tài khoản khi đăng ký</li>
                <li class="height-price"> <i class="fa fa-gift"></i> Với tài khoản đăng ký, quý khách sẽ sử dụng được tất cả các tính năng của phần mềm</li>
                <li class="height-price"> <i class="fa fa-gift"></i> Tài khoản sẽ được tặng thưởng nếu có những đóng góp xây dựng trong quá trình sử dụng</li>
                <li class="height-price"> <i class="fa fa-gift"></i> Ngoài ra, sẽ có những khoảng thưởng vào những dịp lễ tết </li>
               
            </ul>
        </div>

        <div class="span4">
            <ul class="plan plan3">
                <li class="plan-name center">
                    <h3>CÁCH DUY TRÌ CỬA HÀNG</h3>
                </li>
                <li class="height-price"> <i class="fa fa-send"></i> Quý khách phải nạp tiền vào tài khoản để duy trì cửa hàng khi tài khoản đã hết</li>
                <li class="height-price"> <i class="fa fa-send"></i> Cửa hàng của quý khách sẽ bị khóa khi tài khoản không có đủ tiền thanh toán sau 1 tháng</li>
                <li class="height-price"> <i class="fa fa-send"></i> Khi tài khoản sắp hết chúng tôi sẽ thông báo đến Quý khách</li>
                <li class="height-price"> <i class="fa fa-send"></i> Để nạp tiền Quý khách vui lòng liên lạc qua email hoặc điện thoại để được hướng dẫn chi tiết hơn</li>
                
            </ul>
        </div>

       
    </div>

</section>
<!--/Pricing-->




<!--Clients hidden-->
<section id="clients" class="main" style="display:none">
    <div class="container">
        <div class="row-fluid">
            <div class="span2">
                <div class="clearfix">
                    <h4 class="pull-left">KHÁCH HÀNG</h4>
                    <div class="pull-right">
                        <a class="prev" href="#myCarousel" data-slide="prev"><i class="icon-angle-left icon-large"></i></a> <a class="next" href="#myCarousel" data-slide="next"><i class="icon-angle-right icon-large"></i></a>
                    </div>
                </div>
                <p>Những khách hàng đã sử dụng dịch vụ của công ty chúng tôi.</p>
            </div>

            <div class="span10">
                <div id="myCarousel" class="carousel slide clients">
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client1.png")"></a></li>
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client2.png")"></a></li>
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client3.png")"></a></li>
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client4.png")"></a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row-fluid">
                            <ul class="thumbnails">
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client4.png")"></a></li>
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client3.png")"></a></li>
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client2.png")"></a></li>
                                <li class="span3"><a href="#"><img src="@Url.Content("~/Content/home/images/sample/clients/client1.png")"></a></li>
                            </ul>
                        </div>
                    </div>

                    
                </div>
                <!-- /Carousel items -->

            </div>
        </div>
    </div>
</div>
</section>
<!--/Clients-->