<<<<<<< HEAD
﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Đăng ký";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h3>Đăng ký</h3>
            </div>
            @*<div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li><a href="#">Pages</a> <span class="divider">/</span></li>
                    <li class="active">Registration</li>
                </ul>
            </div>*@
        </div>
    </div>
</section>
<!-- / .title -->

<script src="@Url.Content("~/Scripts/bootstrapValidator-0.5.3.js")" type="text/javascript"></script>
<div id="registration-page" class="container">
    <form class="well form-horizontal" action="@Url.Action("Register", "Account")" method="POST" id="registration_form">
        <fieldset>
            <div class="row">
                <!-- thông tin tài khoản -->
                <div class="col-xs-6">
                    <legend>Thông tin tài khoản</legend>
                    <!-- Text input - họ tên-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Họ tên</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" placeholder="Họ tên" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - tài khoản -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tài khoản</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="username" placeholder="Tài khoản" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - email-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail" class="form-control" type="email">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - password-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mật khẩu</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input name="password" placeholder="Mật khẩu" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Text input - password2-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nhập lại mật khẩu</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input name="password2" placeholder="Nhập lại mật khẩu" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- thông tin cửa hàng -->
                <div class="col-xs-6">

                    <legend>Cửa hàng</legend>
                    <!-- Text input - Tên cửa hàng -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tên cửa hàng</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="storename" placeholder="Tên cửa hàng" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - phone-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Số điện thoại </label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input name="phone" placeholder="Số điện thoại" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - Address -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Địa chỉ</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="address" placeholder="Địa chỉ" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - City -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tỉnh thành</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="city" placeholder="Tỉnh thành" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Select - ProductGroup -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Loại sản phẩm</label>
                        <div class="col-md-8 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select name="productgroup" class="form-control selectpicker">
                                    <option value=" ">Chọn loại sản phẩm</option>
                                    <option value="1">Thời trang, phụ kiện</option>
                                    <option value="2">Điện tử, điện máy</option>
                                    <option value="3">Điện thoại, viễn thông</option>
                                    <option value="4">Máy ảnh, máy quay</option>
                                    <option value="5">Đồ dùng sinh hoạt</option>
                                    <option value="6">Sách, văn phòng phẩm</option>
                                    <option value="7">Thực phẩm, đồ uống</option>
                                    <option value="8">Nội ngoại thất</option>
                                    <option value="9">Sức khỏe, sắc đẹp</option>
                                    <option value="10">Mẹ và bé</option>
                                    <option value="1000">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-warning">Đăng ký <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>


    </form>
</div>
<!-- /#registration-page -->


<script type="text/javascript">
    $(document).ready(function () {
        //test
        //$('#registration_form input[name=name]').val('loc');
        //$('#registration_form input[name=username]').val('loc');
        //$('#registration_form input[name=email]').val('loc@yahoo.com');
        //$('#registration_form input[name=password]').val('loc@yahoo.com');
        //$('#registration_form input[name=password2]').val('loc@yahoo.com');

        //$('#registration_form input[name=storename]').val('pholo');
        //$('#registration_form input[name=phone]').val('0984275206');
        //$('#registration_form input[name=address]').val('123 le thanh tong');
        //$('#registration_form input[name=city]').val('hochiminh');
        //$('#registration_form select[name=productgroup]').val('1000');
        //================================
        $('#registration_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        stringLength: {
                            min: 2,
                        },
                        notEmpty: {
                            message: 'Chưa điền họ tên'
                        }
                    }
                },
                username: {
                    validators: {
                        stringLength: {
                            min: 2,
                        },
                        notEmpty: {
                            message: 'Chưa điền tài khoản'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền E-Mail'
                        },
                        emailAddress: {
                            message: 'E-Mail không hợp lệ'
                        }
                    }
                },

                password: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền mật khẩu'
                        }
                        
                    }
                },
                password2: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa nhập lại mật khẩu'
                        },
                        identical: {
                            field: 'password',
                            message: 'Mật khẩu nhập lại không đúng'
                        }
                    }
                },
                //====================================================
                storename: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền tên cửa hàng'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền số điện thoại'
                        },
                        phone: {
                            country: 'US',
                            message: 'Số điện thoại không hợp lệ'
                        }
                    }
                },
                address: {
                    validators: {
                        stringLength: {
                            min: 8,
                        },
                        notEmpty: {
                            message: 'Chưa điền địa chỉ'
                        }
                    }
                },
                city: {
                    validators: {
                        stringLength: {
                            min: 4,
                        },
                        notEmpty: {
                            message: 'Chưa điền tỉnh thành'
                        }
                    }
                },
                productgroup: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa chọn loại sản phẩm'
                        }
                    }
                }
                
            }
        })
            .on('success.form.bv', function (e) {
                //$('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#registration_form').data('bootstrapValidator').resetForm();

                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                var action =$form.attr('action');
                $.post(action, $form.serialize(), function (result) {
                    console.log(result);
                    if (typeof (result) == 'string' && result.startsWith("#error:")) {
                        ShowErrorMessage(result);
                    } else {
                        window.location = '@Url.Action("RegisterSuccess","Home")';
                    }
                }, 'json');
            });
    });

    function ShowErrorMessage(message) {
        if ($('.FNotifications').length == 0) {
            $("body").append("<div class='FNotifications notifications top-right'></div>");
        }

        $('.FNotifications').notify({
            message: { text: message }, type: 'danger'
        }).show();
    }
</script>


=======
﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Đăng ký";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h3>Đăng ký</h3>
            </div>
            @*<div class="span6">
                <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li><a href="#">Pages</a> <span class="divider">/</span></li>
                    <li class="active">Registration</li>
                </ul>
            </div>*@
        </div>
    </div>
</section>
<!-- / .title -->

<script src="@Url.Content("~/Scripts/bootstrapValidator-0.5.3.js")" type="text/javascript"></script>
<div id="registration-page" class="container">
    <form class="well form-horizontal" action="@Url.Action("Register", "Account")" method="POST" id="registration_form">
        <fieldset>
            <div class="row">
                <!-- thông tin tài khoản -->
                <div class="col-xs-6">
                    <legend>Thông tin tài khoản</legend>
                    <!-- Text input - họ tên-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Họ tên</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="name" placeholder="Họ tên" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - tài khoản -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tài khoản</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input name="username" placeholder="Tài khoản" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - email-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">E-Mail</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input name="email" placeholder="E-Mail" class="form-control" type="email">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - password-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Mật khẩu</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input name="password" placeholder="Mật khẩu" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                    
                    <!-- Text input - password2-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Nhập lại mật khẩu</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input name="password2" placeholder="Nhập lại mật khẩu" class="form-control" type="password">
                            </div>
                        </div>
                    </div>
                </div>


                <!-- thông tin cửa hàng -->
                <div class="col-xs-6">

                    <legend>Cửa hàng</legend>
                    <!-- Text input - Tên cửa hàng -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tên cửa hàng</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="storename" placeholder="Tên cửa hàng" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - phone-->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Số điện thoại </label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                <input name="phone" placeholder="Số điện thoại" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - Address -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Địa chỉ</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="address" placeholder="Địa chỉ" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Text input - City -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Tỉnh thành</label>
                        <div class="col-md-8 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                <input name="city" placeholder="Tỉnh thành" class="form-control" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Select - ProductGroup -->
                    <div class="form-group">
                        <label class="col-md-4 control-label">Loại sản phẩm</label>
                        <div class="col-md-8 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select name="productgroup" class="form-control selectpicker">
                                    <option value=" ">Chọn loại sản phẩm</option>
                                    <option value="1">Thời trang, phụ kiện</option>
                                    <option value="2">Điện tử, điện máy</option>
                                    <option value="3">Điện thoại, viễn thông</option>
                                    <option value="4">Máy ảnh, máy quay</option>
                                    <option value="5">Đồ dùng sinh hoạt</option>
                                    <option value="6">Sách, văn phòng phẩm</option>
                                    <option value="7">Thực phẩm, đồ uống</option>
                                    <option value="8">Nội ngoại thất</option>
                                    <option value="9">Sức khỏe, sắc đẹp</option>
                                    <option value="10">Mẹ và bé</option>
                                    <option value="1000">Khác</option>
                                </select>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-warning">Đăng ký <span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>

        </fieldset>


    </form>
</div>
<!-- /#registration-page -->


<script type="text/javascript">
    $(document).ready(function () {
        //test
        //$('#registration_form input[name=name]').val('loc');
        //$('#registration_form input[name=username]').val('loc');
        //$('#registration_form input[name=email]').val('loc@yahoo.com');
        //$('#registration_form input[name=password]').val('loc@yahoo.com');
        //$('#registration_form input[name=password2]').val('loc@yahoo.com');

        //$('#registration_form input[name=storename]').val('pholo');
        //$('#registration_form input[name=phone]').val('0984275206');
        //$('#registration_form input[name=address]').val('123 le thanh tong');
        //$('#registration_form input[name=city]').val('hochiminh');
        //$('#registration_form select[name=productgroup]').val('1000');
        //================================
        $('#registration_form').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                name: {
                    validators: {
                        stringLength: {
                            min: 2,
                        },
                        notEmpty: {
                            message: 'Chưa điền họ tên'
                        }
                    }
                },
                username: {
                    validators: {
                        stringLength: {
                            min: 2,
                        },
                        notEmpty: {
                            message: 'Chưa điền tài khoản'
                        }
                    }
                },
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền E-Mail'
                        },
                        emailAddress: {
                            message: 'E-Mail không hợp lệ'
                        }
                    }
                },

                password: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền mật khẩu'
                        }
                        
                    }
                },
                password2: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa nhập lại mật khẩu'
                        },
                        identical: {
                            field: 'password',
                            message: 'Mật khẩu nhập lại không đúng'
                        }
                    }
                },
                //====================================================
                storename: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền tên cửa hàng'
                        }
                    }
                },
                phone: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa điền số điện thoại'
                        },
                        phone: {
                            country: 'US',
                            message: 'Số điện thoại không hợp lệ'
                        }
                    }
                },
                address: {
                    validators: {
                        stringLength: {
                            min: 8,
                        },
                        notEmpty: {
                            message: 'Chưa điền địa chỉ'
                        }
                    }
                },
                city: {
                    validators: {
                        stringLength: {
                            min: 4,
                        },
                        notEmpty: {
                            message: 'Chưa điền tỉnh thành'
                        }
                    }
                },
                productgroup: {
                    validators: {
                        notEmpty: {
                            message: 'Chưa chọn loại sản phẩm'
                        }
                    }
                }
                
            }
        })
            .on('success.form.bv', function (e) {
                //$('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#registration_form').data('bootstrapValidator').resetForm();

                // Prevent form submission
                e.preventDefault();

                // Get the form instance
                var $form = $(e.target);

                // Get the BootstrapValidator instance
                var bv = $form.data('bootstrapValidator');

                // Use Ajax to submit form data
                var action =$form.attr('action');
                $.post(action, $form.serialize(), function (result) {
                    console.log(result);
                    if (typeof (result) == 'string' && result.startsWith("#error:")) {
                        ShowErrorMessage(result);
                    } else {
                        window.location = '@Url.Action("RegisterSuccess","Home")';
                    }
                }, 'json');
            });
    });

    function ShowErrorMessage(message) {
        if ($('.FNotifications').length == 0) {
            $("body").append("<div class='FNotifications notifications top-right'></div>");
        }

        $('.FNotifications').notify({
            message: { text: message }, type: 'danger'
        }).show();
    }
</script>


>>>>>>> origin/master
