<<<<<<< HEAD
﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>.:: PHOLO ::.</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript">
        var g_loginUrl = '@Url.Action("Login", "Account")';
        var g_logoutUrl = '@Url.Action("Logout", "Account")';
        var g_getDataListUrl = '@Url.Action("GetDataList", "Data")';
        var g_countDataListUrl = '@Url.Action("CountDataList", "Data")';

    </script>
    <!----------------css---------------->
    @Styles.Render("~/Content/jqueryui")
    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/font-awesome.min.css")">
@*    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/bootstrap-responsive.min.css")">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/sl-slide.css")">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/Home/main")

    <!----------------scripts---------------->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")


    @Scripts.Render("~/bundles/Home/main")

    <script src="@Url.Content("~/Scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js")" type="text/javascript"></script>

    <!-- Required javascript files for Slider -->
    <script src="@Url.Content("~/Scripts/jquery.ba-cond.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.slitslider.js")"></script>
    <!-- /Required javascript files for Slider -->
    

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/home/images/ico/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-144-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-114-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-72-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-57-precomposed.png")">
</head>
<body>
<!--Header-->
<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a id="logo" class="pull-left" href="@Url.Content("~")"></a>
        
        <div class="nav-collapse  pull-right">
            <ul class="nav">
                <li class=""><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                @*<li><a href="@Url.Action("AboutUs","Home")">Giới thiệu</a></li>*@
                <li><a href="@Url.Action("Document","Home")">Hướng dẫn</a></li>
                
                @*<li><a href="@Url.Action("News","Home")">Tin tức</a></li> *@
                @*<li><a href="@Url.Action("ContactUs","Home")">Liên hệ</a></li>*@
                
                <li class="login">
                    @*<a data-toggle="modal" href="#loginForm"><i class="icon-lock"></i></a>*@
                    <a href="@Url.Action("Login","Account")"><i class="icon-lock"></i>Đăng nhập</a>
                </li>
                <li><a href="@Url.Action("Register","Home")">Đăng ký</a></li>
            </ul>        
        </div><!--/.nav-collapse -->
    </div>
</div>
</header>
<!-- /header -->

<!-- body -->
 @RenderBody()
               

<!--Bottom-->
<section id="bottom" class="main">
    <!--Container-->
    <div class="container">

        <!--row-fluids-->
        <div class="row-fluid">

            <!--Contact Form-->
            <div class="span3">
                <h4>ĐỊA CHỈ</h4>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong>Address:</strong> 1285 Lê Đức Thọ, P.13, Q. Gò Vấp<br>Thành phố Hồ Chí Minh
                    </li>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> thphong@gmail.com
                    </li>
                    <li>
                        <i class="icon-globe"></i>
                        <strong>Website:</strong> www.pholo.net
                    </li>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Phone:</strong> 0984 275 206
                    </li>
                </ul>
            </div>
            <!--End Contact Form-->

            <!--Important Links-->
            <div id="tweets" class="span3">
                <h4>CÔNG TY</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="@Url.Action("AboutUs","Home")">Giới thiệu</a></li>
                        <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                        <li><a href="@Url.Action("TermOfUse","Home")">Điều khoản và chính sách</a></li>
                        @*<li><a href="@Url.Action("Clients","Home")">Khách hàng</a></li>*@
                        @*<li><a href="@Url.Action("ContactUs","Home")">Liên hệ</a></li>
                        <li><a href="@Url.Action("News","Home")">Tin tức</a></li>*@
                    </ul>
                </div>  
            </div>
            <!--Important Links-->

            <!--Archives-->
            @*<div id="archives" class="span3">
                <h4>ARCHIVES</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">December 2012 (1)</a></li>
                        <li><a href="#">November 2012 (5)</a></li>
                        <li><a href="#">October 2012 (8)</a></li>
                        <li><a href="#">September 2012 (10)</a></li>
                        <li><a href="#">August 2012 (29)</a></li>
                        <li><a href="#">July 2012 (1)</a></li>
                        <li><a href="#">June 2012 (31)</a></li>
                    </ul>
                </div>
            </div>*@
            <!--End Archives-->

            <div class="span3">
                <h4>GALLERY</h4>
                <div class="row-fluid first">
                    <ul class="thumbnails">
                      <li class="span3">
                        <a href="#" title="01 (254) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7003/6829540293_bd99363818_s.jpg" width="75" height="75" alt="01 (254)"></a>
                    </li>
                    <li class="span3">
                        <a href="#" title="01 (196) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7013/6829537417_465d28e1db_s.jpg" width="75" height="75" alt="01 (196)"></a>
                    </li>
                    <li class="span3">
                        <a href="#" title="01 (65) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7021/6829527437_88364c7ec4_s.jpg" width="75" height="75" alt="01 (65)"></a>
                    </li>
                    <li class="span3">
                        <a href="#" title="01 (6) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7148/6829524451_a725793358_s.jpg" width="75" height="75" alt="01 (6)"></a>
                    </li>
                </ul>
            </div>
            

        </div>

    </div>
    <!--/row-fluid-->
</div>
<!--/container-->

</section>
<!--/bottom-->

<!--Footer-->
<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span5 cp">
                &copy; 2016 <a target="_blank" href="http://phonet.net/" title="Pholo.net">Công ty dịch vụ công nghệ PHOLO</a> 
            </div>
            <!--/Copyright-->

            <div class="span6">
                <ul class="social pull-right">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>                       
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                    <li><a href="#"><i class="icon-tumblr"></i></a></li>                        
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-rss"></i></a></li>
                    <li><a href="#"><i class="icon-github-alt"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>                   
                </ul>
            </div>

            <div class="span1">
                <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
            </div>
            <!--/Goto Top-->
        </div>
    </div>
</footer>
<!--/Footer-->

<!--  Login form -->
<div class="modal hide fade in" id="loginForm" aria-hidden="false">
    <div class="modal-header">
        <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        <h4>Login Form</h4>
    </div>
    <!--Modal Body-->
    <div class="modal-body">
        <form class="form-inline" action="index.html" method="post" id="form-login">
            <input type="text" class="input-small" placeholder="Email">
            <input type="password" class="input-small" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <a href="#">Forgot your password?</a>
    </div>
    <!--/Modal Body-->
</div>
<!--  /Login form -->



<!-- SL Slider -->
<script type="text/javascript">
    $(function () {
        var Page = (function () {

            var $navArrows = $('#nav-arrows'),
            slitslider = $('#slider').slitslider({
                autoplay: true
            }),

            init = function () {
                initEvents();
            },
            initEvents = function () {
                $navArrows.children(':last').on('click', function () {
                    slitslider.next();
                    return false;
                });

                $navArrows.children(':first').on('click', function () {
                    slitslider.previous();
                    return false;
                });
            };

            return { init: init };

        })();

        Page.init();
    });
</script>
<!-- /SL Slider -->
</body>
</html>
=======
﻿<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>.:: PHOLO ::.</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <script type="text/javascript">
        var g_loginUrl = '@Url.Action("Login", "Account")';
        var g_logoutUrl = '@Url.Action("Logout", "Account")';
        var g_getDataListUrl = '@Url.Action("GetDataList", "Data")';
        var g_countDataListUrl = '@Url.Action("CountDataList", "Data")';

    </script>
    <!----------------css---------------->
    @Styles.Render("~/Content/jqueryui")
    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/font-awesome.min.css")">
@*    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/bootstrap-responsive.min.css")">*@
    <link rel="stylesheet" href="@Url.Content("~/Content/home/css/sl-slide.css")">
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/fontawesome")
    @Styles.Render("~/Content/Home/main")

    <!----------------scripts---------------->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")


    @Scripts.Render("~/bundles/Home/main")

    <script src="@Url.Content("~/Scripts/vendor/modernizr-2.6.2-respond-1.1.0.min.js")" type="text/javascript"></script>

    <!-- Required javascript files for Slider -->
    <script src="@Url.Content("~/Scripts/jquery.ba-cond.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.slitslider.js")"></script>
    <!-- /Required javascript files for Slider -->
    

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/home/images/ico/favicon.ico")">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-144-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-114-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-72-precomposed.png")">
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/home/images/ico/apple-touch-icon-57-precomposed.png")">
</head>
<body>
<!--Header-->
<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a id="logo" class="pull-left" href="@Url.Content("~")"></a>
        
        <div class="nav-collapse  pull-right">
            <ul class="nav">
                <li class=""><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                @*<li><a href="@Url.Action("AboutUs","Home")">Giới thiệu</a></li>*@
                <li><a href="@Url.Action("Document","Home")">Hướng dẫn</a></li>
                
                @*<li><a href="@Url.Action("News","Home")">Tin tức</a></li> *@
                @*<li><a href="@Url.Action("ContactUs","Home")">Liên hệ</a></li>*@
                
                <li class="login">
                    @*<a data-toggle="modal" href="#loginForm"><i class="icon-lock"></i></a>*@
                    <a href="@Url.Action("Login","Account")"><i class="icon-lock"></i>Đăng nhập</a>
                </li>
                <li><a href="@Url.Action("Register","Home")">Đăng ký</a></li>
            </ul>        
        </div><!--/.nav-collapse -->
    </div>
</div>
</header>
<!-- /header -->

<!-- body -->
 @RenderBody()
               

<!--Bottom-->
<section id="bottom" class="main">
    <!--Container-->
    <div class="container">

        <!--row-fluids-->
        <div class="row-fluid">

            <!--Contact Form-->
            <div class="span3">
                <h4>ĐỊA CHỈ</h4>
                <ul class="unstyled address">
                    <li>
                        <i class="icon-home"></i><strong>Address:</strong> 1285 Lê Đức Thọ, P.13, Q. Gò Vấp<br>Thành phố Hồ Chí Minh
                    </li>
                    <li>
                        <i class="icon-envelope"></i>
                        <strong>Email: </strong> thphong@gmail.com
                    </li>
                    <li>
                        <i class="icon-globe"></i>
                        <strong>Website:</strong> www.pholo.net
                    </li>
                    <li>
                        <i class="icon-phone"></i>
                        <strong>Phone:</strong> 0984 275 206
                    </li>
                </ul>
            </div>
            <!--End Contact Form-->

            <!--Important Links-->
            <div id="tweets" class="span3">
                <h4>CÔNG TY</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="@Url.Action("AboutUs","Home")">Giới thiệu</a></li>
                        <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                        <li><a href="@Url.Action("TermOfUse","Home")">Điều khoản và chính sách</a></li>
                        @*<li><a href="@Url.Action("Clients","Home")">Khách hàng</a></li>*@
                        @*<li><a href="@Url.Action("ContactUs","Home")">Liên hệ</a></li>
                        <li><a href="@Url.Action("News","Home")">Tin tức</a></li>*@
                    </ul>
                </div>  
            </div>
            <!--Important Links-->

            <!--Archives-->
            @*<div id="archives" class="span3">
                <h4>ARCHIVES</h4>
                <div>
                    <ul class="arrow">
                        <li><a href="#">December 2012 (1)</a></li>
                        <li><a href="#">November 2012 (5)</a></li>
                        <li><a href="#">October 2012 (8)</a></li>
                        <li><a href="#">September 2012 (10)</a></li>
                        <li><a href="#">August 2012 (29)</a></li>
                        <li><a href="#">July 2012 (1)</a></li>
                        <li><a href="#">June 2012 (31)</a></li>
                    </ul>
                </div>
            </div>*@
            <!--End Archives-->

            <div class="span3">
                <h4>GALLERY</h4>
                <div class="row-fluid first">
                    <ul class="thumbnails">
                      <li class="span3">
                        <a href="#" title="01 (254) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7003/6829540293_bd99363818_s.jpg" width="75" height="75" alt="01 (254)"></a>
                    </li>
                    <li class="span3">
                        <a href="#" title="01 (196) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7013/6829537417_465d28e1db_s.jpg" width="75" height="75" alt="01 (196)"></a>
                    </li>
                    <li class="span3">
                        <a href="#" title="01 (65) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7021/6829527437_88364c7ec4_s.jpg" width="75" height="75" alt="01 (65)"></a>
                    </li>
                    <li class="span3">
                        <a href="#" title="01 (6) by Victor1558, on Flickr"><img src="http://farm8.staticflickr.com/7148/6829524451_a725793358_s.jpg" width="75" height="75" alt="01 (6)"></a>
                    </li>
                </ul>
            </div>
            

        </div>

    </div>
    <!--/row-fluid-->
</div>
<!--/container-->

</section>
<!--/bottom-->

<!--Footer-->
<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span5 cp">
                &copy; 2016 <a target="_blank" href="http://phonet.net/" title="Pholo.net">Công ty dịch vụ công nghệ PHOLO</a> 
            </div>
            <!--/Copyright-->

            <div class="span6">
                <ul class="social pull-right">
                    <li><a href="#"><i class="icon-facebook"></i></a></li>
                    <li><a href="#"><i class="icon-twitter"></i></a></li>
                    <li><a href="#"><i class="icon-pinterest"></i></a></li>
                    <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    <li><a href="#"><i class="icon-google-plus"></i></a></li>                       
                    <li><a href="#"><i class="icon-youtube"></i></a></li>
                    <li><a href="#"><i class="icon-tumblr"></i></a></li>                        
                    <li><a href="#"><i class="icon-dribbble"></i></a></li>
                    <li><a href="#"><i class="icon-rss"></i></a></li>
                    <li><a href="#"><i class="icon-github-alt"></i></a></li>
                    <li><a href="#"><i class="icon-instagram"></i></a></li>                   
                </ul>
            </div>

            <div class="span1">
                <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
            </div>
            <!--/Goto Top-->
        </div>
    </div>
</footer>
<!--/Footer-->

<!--  Login form -->
<div class="modal hide fade in" id="loginForm" aria-hidden="false">
    <div class="modal-header">
        <i class="icon-remove" data-dismiss="modal" aria-hidden="true"></i>
        <h4>Login Form</h4>
    </div>
    <!--Modal Body-->
    <div class="modal-body">
        <form class="form-inline" action="index.html" method="post" id="form-login">
            <input type="text" class="input-small" placeholder="Email">
            <input type="password" class="input-small" placeholder="Password">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        <a href="#">Forgot your password?</a>
    </div>
    <!--/Modal Body-->
</div>
<!--  /Login form -->



<!-- SL Slider -->
<script type="text/javascript">
    $(function () {
        var Page = (function () {

            var $navArrows = $('#nav-arrows'),
            slitslider = $('#slider').slitslider({
                autoplay: true
            }),

            init = function () {
                initEvents();
            },
            initEvents = function () {
                $navArrows.children(':last').on('click', function () {
                    slitslider.next();
                    return false;
                });

                $navArrows.children(':first').on('click', function () {
                    slitslider.previous();
                    return false;
                });
            };

            return { init: init };

        })();

        Page.init();
    });
</script>
<!-- /SL Slider -->
</body>
</html>
>>>>>>> origin/master
