<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
        <strong>CÁC BƯỚC TIỀN HÀNH ĐĂNG KÝ TÀI KHOẢN SỬ DỤNG:</strong>
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <!------------------------------------------------->
        <p>
            <strong>Bước 1: Vào trang <a target="_blank" href="@Url.Action("Register","Home")"><strong>đăng ký</strong></a> </strong> <br>    
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/gioithieu/dangky.png")" alt="trang-dang-ky"  />
        </p>
        <p>&nbsp;</p>
        <p>Điền thông tin được yêu cầu về <b>"Thông tin tài khoản"</b> và <b>"Thông tin cửa hàng"</b>  như hình trên.</p>
        
        <p>&nbsp;</p>
        <p>Sau khi điền đầy đủ thông tin theo yêu cầu như hình sau, quý khách nhấn vào nút <b>Đăng ký</b>.</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/gioithieu/dangky_filled.png")" alt="dien-thong-tin-dang-ky"  />
        </p>

        <p>&nbsp;</p>
        <p> Và kết quả đăng kí thành công sẽ hiện ra như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/gioithieu/dangky_thanhcong.png")" alt="dang-ky-thanh-cong"  />
        </p>

        <p>&nbsp;</p>
        <p>Quý khách vui lòng nhớ thông tin tài khoản để có thể đăng nhập vào hệ thống. Nếu có bất kỳ thắc mắc nào, xin đừng ngại liên lạc với chúng tôi.</p>
        <p>Tiếp đó quý khách có thể vào trang <a target="_blank" href="@Url.Action("Login","Account")"><strong>"Đăng nhập"</strong></a> bằng cách nhấn vào nút <strong>"TIẾP TỤC ĐĂNG NHẬP"</strong></p>
        
        <!------------------------------------------------->
        <p>&nbsp;</p>
        <p>
            <strong>Bước 2:</strong> Đăng nhập<br>
            Sau khi&nbsp;<strong>Đăng ký</strong> thành công, quý khách có thể đăng nhập vào hệ thống quản lý.
        </p>
        <p>Giao diện trang đăng nhập như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/gioithieu/dangnhap.png")" alt="dang-nhap"  />
        </p>

        <p>&nbsp;</p>
        <p>Quý khách điền thông tin tài khoản đã được đăng ký để đăng nhập. Sau khi đăng nhập thành công thì giao diện tổng quan sẽ như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tongquan.png")" alt="trang-quan-ly-pholo"  />
        </p>

    </div>
</article>
