<article  class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_chon.png")" alt="chon-them-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa.png")" alt="them-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_nhomhang_chon.png")" alt="chon-nhom-hang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_nhomhang_them.png")" alt="them-nhom-hang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_nhomhang_nhap.png")" alt="nhap-nhom-hang"  />
        </p>


        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_chinhsachkho.png")" alt="chinh-sach-kho"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_thuoctinh_chon.png")" alt="quan-ly-thuoc-tinh"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_thuoctinh_nhap.png")" alt="nhap-thuoc-tinh-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_themhanghoa_motachitiet.png")" alt="hinh-anh-va-mo-ta-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/buttons_them.png")" alt="luu-ket-qua"  />
        </p>
    </div>
</article>

