<article  class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
        Đăng ký
    </header>
    <!-- /.entry-header -->

     <div class="entry-content">
        <p>
            Trong trang quản lý combo, nhấn vào nút <b>Thêm Combo</b> để thêm combo mới như hình sau: 
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them_chon.png")" alt="chon-them-combo"  />
        </p>
        <p>&nbsp</p>

        <p>
            <b>1. Thông tin combo</b>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them.png")" alt="nhap-lieu-them-combo"  />
        </p>
        <p>
             - <b>Tên combo</b> :  tên của combo<br />
             - <b>Số lượng</b> :  số lượng của combo sẽ được tính dựa vào số lượng các hàng hóa có trong combo<br />
             - <b>Giá vốn</b> :  giá vốn của combo<br />
             - <b>Tổng giá bán</b> :  tổng giá bán của các hàng hóa trong combo<br />
             - <b>Giá bán combo</b> :  giá bán thực tế của combo<br />
        </p>
        <p>&nbsp</p>

        <p>
            <b>2. Nhập danh sách hàng hóa</b><br />
            Tìm hàng hóa theo mã/tên để thêm vào trong combo như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them_hanghoa.png")" alt="them-hang-hoa-trong-combo"  />
        </p>
        <p>
            Ví dụ các thông tin của một combo đã nhập như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them_danhap.png")" alt="da-nhap-lieu-them-combo"  />
        </p>

        <p>&nbsp</p>
        <p>
            <h5><b>3. Lưu kết quả :</b></h5><br />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/buttons_them.png")" alt="luu-ket-qua"  />
        </p>
        <p>
            Trong đó : <br />
            <b>Lưu</b> : Lưu combo và trở về trang quản lý <br />
            <b>Lưu và tiếp tục</b> : Lưu combo và tiếp tục nhập combo mới khác <br />
            <b>Trỡ về</b> : Trở về trang quản lý <br />
        </p>
    </div>
</article>

