<article class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_chon.png")" alt="chon-quan-ly-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_chucnang.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_thekho_chon.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_combo_chon.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_combo_xem.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>
    </div>
</article>

