<article class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để quản lý hàng hóa vào mục <b>Hàng hóa</b> như hình sau, trong mục này sẽ có 2 mục con là <b>Hàng hóa</b> và <b>Combo</b>. 
            Ở đây sẽ giới thiệu về mục <b>Hàng hòa</b> , còn mục <b>Combo</b> sẽ mô tả ở <a href="@Url.Action("Document","Home")?page=quan-ly-combo">đây</a>.
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_chon.png")" alt="chon-quan-ly-hang-hoa"  />
        </p>
        <p>&nbsp</p>

        <p>
            <b>1. Tìm kiếm hàng hóa</b><br />
            Chương trình hỗ trợ các chức năng thuận tiện để tìm kiếm hàng hóa một cách nhanh chóng:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>
        <p>
            Tìm kiếm theo mã/tên hàng hóa <br />
            Hoặc lọc hàng hóa nhanh theo các lựa chọn có sẵn : <br />
            - Lọc theo <b>hàng hóa đang kinh doanh/ngừng kinh doanh/đã xóa</b><br />
            - Lọc theo <b>nhóm hàng hóa</b><br />
            - Lọc theo <b>nhà sản xuất</b><br />
            - Lọc theo <b>hàng hóa chưa có giá bán/ chưa có giá mua/ chưa phân lại</b><br /> 
        </p>
        <p>&nbsp</p>

        <p>
            <b>2. Copy, ngừng kinh doanh, xóa hàng hóa</b><br />
            Trên mỗi dòng thông tin của hàng hóa có các chức năng để thao tác trên hàng hoa đó như hình sau:
        </p>
        
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_chucnang.png")" alt="chuc-nang-quan-ly-hang-hoa"  />
        </p>
        <p>
            Các ký hiệu tương ứng : <br />
            <i class="fa-copy fa blue"></i> : Copy hàng hóa<br/>
            <i class="fa-pause fa pink"></i> : Ngừng kinh doanh hàng hóa<br/>
            <i class="fa-trash fa red"></i> : Xóa hàng hóa<br/>
        </p>
        <p>&nbsp</p>

        <p>
            <b>3. Xem thẻ kho</b><br />
            Để xem thông tin về lịch sử giao dịch của hàng hóa thì nhấn vào ký hiệu <i class="fa-search-plus fa blue"></i>: <br/>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_thekho_chon.png")" alt="xem-lich-su-hang-hoa-the-kho"  />
        </p>
         <p>
            Một cửa sổ hiện ra như sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/tonkho_thekho.png")" alt="the-kho"  />
        </p>
        <p>&nbsp</p>

        <p>
            <b>4. Xem các combo có chứa hàng hóa</b><br />
            Nhấn vào ký hiệu <span class="badge badge-primary"><i class="fa-plus fa "></i></span> để xem các sản phẩm combo có chưa hàng hóa này<br/>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_combo_chon.png")" alt="combo"  />
        </p>
        <p>
            Thông tin các combo chứa hàng hóa :
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/hanghoa_quanly_combo_xem.png")" alt="combo"  />
        </p>
        <p>
            
        </p>
        <p>&nbsp</p>
    </div>
</article>

