<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để quản lý khách hàng vào mục <b>Khách hàng</b> như hình sau :<br />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/khachhang_chon.png")" alt="khach-hang"  />
        </p>
        <p>
            Ở trang này có 3 mục con nhỏ : <br />
            - <b>Khách hàng</b> : Quản lý tất các các loại khách hàng : khách hàng thông thường và khách hàng sỉ<br />
            - <b>Khách hàng sỉ</b> : Quản lý khách hàng sỉ<br />
            - <b>Nhà cung cấp</b> : Quản lý nhà cung cấp. Được giới thiệu tại <a href="@Url.Action("Document","Home")?page=quan-ly-nha-cung-cap">đây</a>.<br />
            Chú ý : Khách hàng có chia làm 2 loại : Khách hàng thông thường và Khách hàng mua sỉ. <br />
            Khách hàng mua sỉ sẽ có những mức khuyến mãi giảm giá riêng.<br />
        </p>
        <p>&nbsp</p>

        <p>
            <b>Tạo khách hàng mới</b><br/>
            Nhấn vào nút <b>Tạo KH</b> như hình sau để tạo khách hàng mới:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/khachhang_them_chon.png")" alt="khach-hang-"  />
        </p>
        <p>Sau đó một của sổ với các thông tin như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/khachhang_them.png")" alt="khach-hang-"  />
        </p>
        <p>Điền các thông tin cần thiết và nhấn nút <b>Lưu</b> để tạo khách hàng.</p>

        <p>&nbsp</p>
        
        <p>Để xem thông tin chỉ của những khách hàng sỉ thì vào mục <b>Khách hàng sỉ</b> như hình sau:
            <br />
            Mục này cũng có những tính năng tương tự như trên.
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/khachhang_si.png")" alt="khach-hang-"  />
        </p>

        
    </div>
</article>

