<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_chon.png")" alt="bao-cao-loi-nhuan"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_theothoigian_chon.png")" alt="bao-cao-loi-nhuan-theo-thoi-gan"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_theosanpham_chon.png")" alt="bao-cao-loi-nhuan-theo-san-pham"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_theocuahang_chon.png")" alt="bao-cao-loi-nhuan-theo-cua-hang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_baocaolailo_chon.png")" alt="bao-cao-loi-nhuan-bao-cao-lai-lo"  />
        </p>
    </div>
</article>


