<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_chon.png")" alt="thiet-lap-cau-hinh"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_chon.png")" alt="thiet-lap-cau-hinh-nhanvien"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_them_chon.png")" alt="thiet-lap-cau-hinh-them-nhan-vien"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_them.png")" alt="thiet-lap-cau-hinh-them-nhan-vien"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_chucvu.png")" alt="thiet-lap-cau-hinh-chuc-vu-nhan-vien"  />
        </p>
    </div>
</article>

