<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Vào mục <b>Thiết lập</b> và chọn mục con <b>Mẫu in</b> như hình sau để quản lý các mẫu in:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_chon.png")" alt="thiet-lap-cau-hinh-mau-in"  />
        </p>
        <p><b>Các loại mẫu in:</b><br />
            - Hóa đơn bán hàng<br />
            - Hóa đơn bán hàng POS<br />
            - Hóa đơn nhập hàng<br />
            - Phiếu chi<br />
            - Phiếu nhập kho<br />
            <br />

            Để xem các thông tin của mẫu in nhấn vào biểu tượng <button class="btn btn-success btn-sm"><i class="fa-info fa" style="display: inline-block;"></i></button>
        </p>
        <p>&nbsp</p>


        <p><b>Hóa đơn bán hàng</b></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_hoadonbanhang.png")" alt="thiet-lap-cau-hinh-mau-in-hoa-don-ban-hang"  />
        </p>
        <p>&nbsp</p>

        <p><b>Hóa đơn bán hàng POS</b></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_hoadonpos.png")" alt="thiet-lap-cau-hinh-mau-in-hoa-don-ban-hang-pos"  />
        </p>
        <p>&nbsp</p>

        <p><b>Hóa đơn nhập hàng</b></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_hoadonnhaphang.png")" alt="thiet-lap-cau-hinh-mau-in-don-nhap-hang"  />
        </p>
        <p>&nbsp</p>

        <p><b>Phiếu chi</b></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_phieuchi.png")" alt="thiet-lap-cau-hinh-mau-in-phieu-chi"  />
        </p>
        <p>&nbsp</p>

        <p><b>Phiếu nhập kho</b></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_phieuchuyenkho.png")" alt="thiet-lap-cau-hinh-mau-in-phieu-chuyen-kho"  />
        </p>
    </div>
</article>

