<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_chon.png")" alt="thiet-lap-cau-hinh-mau-in"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_hoadonbanhang.png")" alt="thiet-lap-cau-hinh-mau-in-hoa-don-ban-hang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_hoadonpos.png")" alt="thiet-lap-cau-hinh-mau-in-hoa-don-ban-hang-pos"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_hoadonnhaphang.png")" alt="thiet-lap-cau-hinh-mau-in-don-nhap-hang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_phieuchi.png")" alt="thiet-lap-cau-hinh-mau-in-phieu-chi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_quanlymauin_phieuchuyenkho.png")" alt="thiet-lap-cau-hinh-mau-in-phieu-chuyen-kho"  />
        </p>
    </div>
</article>

