<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_chon.png")" alt="chi-phi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_them_chon.png")" alt="them-chi-phi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_them.png")" alt="them-chi-phi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_loaichiphi_quanly.png")" alt="loai-chi-phi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_loaichiphi_them.png")" alt="them-loai-chi-phi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_quanly.png")" alt="quan-ly-chi-phi"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_phieuchipng")" alt="phieu-chi"  />
        </p>
    </div>
</article>


