<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để xem thông tin về thu chi vào mục <b>Thu chi</b> như hình sau:
            Trong mục <b>Thu chi</b> có 3 mục nhỏ :<br />
            - <b>Chi phí</b> : Quản lý chi phí tại cửa hàng<br />
            - <b>Thu tiền bán hàng</b> : Báo cáo tiền thu được thì hoạt động bán hàng. Xem chi tiết tại <a href="@Url.Action("Document","Home")?page=tien-ban-hang">đây</a>.<br />
            - <b>Nhận tiền</b> : Quản lý thông tin về việc nhận tiền tiền từ nhân viên bán hàng hoặc nhân viên ứng tiền. Xem chi tiết tại <a href="@Url.Action("Document","Home")?page=nhan-tien">đây</a>.<br />
            Ở đây sẽ giới thiệu các thao tác quản lý chi phí.
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_chon.png")" alt="chi-phi"  />
        </p>
        <p>&nbsp</p>

        <p><b>Thêm phiếu chi</b><br/>
            Để thêm phiếu chi nhấn vào nút <b>Thêm phiếu chi</b>  như hình sau :
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_them_chon.png")" alt="them-chi-phi"  />
        </p>
        <p>Sau đó một cửa sổ để nhập các thông tin về phí chi sẽ hiện ra như sau :</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_them.png")" alt="them-chi-phi"  />
        </p>
        <p>
            Các thông tin trong phiếu chi:<br />
            - <b>Tên chi phí</b><br />
            - <b>Loại chi phí</b><br />
            - <b>Ngày chi</b><br />
            - <b>Người chi</b><br />
            - <b>Số tiền</b><br />
            - <b>Ghi chú</b><br />
        </p>
        <p>&nbsp</p>

        <p><b>Quản lý loại chi phí</b><br />
            Để quản lý/thêm các loại chi phí, nhấn vào nút bên cạnh thông tin <b>Loại chi phí</b>. Sau đó một cửa sổ sẽ hiện ra như hình sau: 
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_loaichiphi_quanly.png")" alt="loai-chi-phi"  />
        </p>
        <p>Ở đây đã có một số những loại chi phí thường gặp. Nếu muốn tạo một loại chi phí mới thì nhấn vào mục con bên cạnh như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_loaichiphi_them.png")" alt="them-loai-chi-phi"  />
        </p>
        <p>&nbsp</p>

        <p><b>Tìm kiếm phiếu chi</b><br />
            Để tìm kiếm các phiếu chi đã nhập có thể dùng mã/tên phiế chi hoặc tên loại phiếu chi. <br />
            Ngoài ra có thể lọc theo này tháng hoặc thông tin <b>phiếu chi đã xóa</b>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_quanly.png")" alt="quan-ly-chi-phi"  />
        </p>
        <p>&nbsp</p>

        <p><b>In phiếu chi</b>><br />
            Để in phiếu chi, nhấn vào biểu tượng <i class="fa fa-print"></i> <br/>
            Ví dụ như hình sau:

        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_chiphi_phieuchi.png")" alt="phieu-chi"  />
        </p>
    </div>
</article>


