<div ng-controller="GeneralController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4 class="dashboard-title">
                    <i class="fa-signal fa"></i>
                    <span ng-bind="Language.Resource.TodayActivity"></span>
                </h4>
            </div>
            <div class="col-md-3 col-xs-12 margin-top-10">
                <div class="col-md-12 report-box infobox-green">
                    <div class="infobox-icon">
                        <i class="fa fa-signal"></i>
                    </div>
                    <div class="infobox-data">
                        <div class="infobox-title"> <span ng-bind="Language.Resource.Revenue"></span></div>
                        <span class="infobox-data-number center" ng-bind="GeneralInfo.Revenue | currency:'':0"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 margin-top-10">
                <div class="col-md-12 report-box infobox-blue">
                    <div class="infobox-icon">
                        <i class="fa fa-shopping-cart"></i>
                    </div>
                    <div class="infobox-data">
                        <div class="infobox-subtitle">
                            <span ng-bind="Language.Resource.NumOrder"></span>:
                            <a href="#" ng-click="LoadViewBody('@Url.Action("Orders", "Admin", new { DateRangeCode = 0, Status = 2})')"
                               class="white" ng-bind="GeneralInfo.NumOrder"></a>
                        </div>
                        <div class="infobox-subtitle">
                            <span ng-bind="Language.Resource.NumProduct"></span>:
                            <a href="#" ng-click="LoadViewBody('@Url.Action("Orders", "Admin", new { DateRangeCode = 0 , Status = 2})')"
                               class="white" ng-bind="GeneralInfo.NumSoldProduct"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-xs-12 margin-top-10">
                <div class="col-md-12 report-box infobox-red">
                    <div class="infobox-icon">
                        <i class="fa fa-trash-o"></i>
                    </div>
                    <div class="infobox-data">
                        <div class="infobox-title">
                            <span ng-bind="Language.Resource.RemovedOrder"></span>
                        </div>
                        <div class="infobox-data-number text-center">
                            <span ng-bind="GeneralInfo.ReturnAmount | currency:'':0"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="padding: 20px 6px; margin: 20px -18px;">
            <div class="col-md-4 col-sm-12" style="z-index: 9;">
                <div class="widget-box bd-blue">
                    <div class="widget-header infobox-blue">
                        <h4 class="col-md-8 widget-title">
                            <i class="fa-signal fa"></i>
                            <span ng-bind="Language.Resource.Activity"></span> 
                        </h4>
                        <div class="col-md-4 text-right">
                            <button type="button" class="btn btn-sm btn-outline"
                                    data-toggle="dropdown" style="padding: 5px 3px; color: white !important">
                                <span ng-bind="Revenue.DateRangeText"></span>
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="#" ng-click="ChangeDateRange(1, Language.Resource.ThisWeek)" ng-bind="Language.Resource.ThisWeek"></a></li>
                                <li><a href="#" ng-click="ChangeDateRange(4, Language.Resource.LastWeek)" ng-bind="Language.Resource.LastWeek"></a></li>
                                <li><a href="#" ng-click="ChangeDateRange(2, Language.Resource.ThisMonth)" ng-bind="Language.Resource.ThisMonth"></a></li>
                                <li><a href="#" ng-click="ChangeDateRange(5, Language.Resource.LastMonth)" ng-bind="Language.Resource.LastMonth"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-body" style="border: none; min-height: 144px;">
                        <div class="widget-main" ng-if="CanViewProfit">
                            <div class="row">
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.Revenue"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Profit", "Admin")?DateRangeCode={{RangeDateCode}}')"
                                       ng-bind="Revenue.Data.Revenue | currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.Profit"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Profit", "Admin")?DateRangeCode={{RangeDateCode}}')"
                                       ng-bind="Revenue.Data.Profit | currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.NumOrder"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Profit", "Admin")?DateRangeCode={{RangeDateCode}}')"
                                       ng-bind="Revenue.Data.Quantity"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.Revenue"></span>/<span ng-bind="Language.Resource.NumOrder"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a ng-if="Revenue.Data.Quantity > 0"
                                       ng-bind="(Revenue.Data.Revenue / Revenue.Data.Quantity) | currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.RemovedOrder"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a ng-bind="Revenue.Data.ReturnAmount | currency:'':0"></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget-main" ng-if="!CanViewProfit">
                            <div class="row">
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.Revenue"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Revenue", "Admin")?DateRangeCode={{RangeDateCode}}')"
                                       ng-bind="Revenue.Data.Revenue | currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.NumOrder"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Revenue", "Admin")?DateRangeCode={{RangeDateCode}}')"
                                       ng-bind="Revenue.Data.Quantity"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.Revenue"></span>/<span ng-bind="Language.Resource.NumOrder"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a ng-if="Revenue.Data.Quantity > 0"
                                       ng-bind="(Revenue.Data.Revenue / Revenue.Data.Quantity) | currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.RemovedOrder"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a ng-bind="Revenue.Data.ReturnAmount | currency:'':0"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget-box bd-orange">
                    <div class="widget-header infobox-orange">
                        <h4 class="widget-title">
                            <i class="fa-tags fa"></i>                            
                            <span ng-bind="Language.Resource.InventoryInfo"></span>
                        </h4>
                    </div>

                    <div class="widget-body" style="border: none; min-height: 144px;">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-7 info">                                    
                                    <span ng-bind="Language.Resource.LongWaiting"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Inventory", "Admin", new { InventoryProductType = 5})')"
                                       ng-bind="GeneralInfo.LongInventory"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.OutOfStore"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Inventory", "Admin", new { InventoryProductType = 2})')"
                                       ng-bind="GeneralInfo.OutOfQuantity"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.UnderLimit"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Inventory", "Admin", new { InventoryProductType = 3})')"
                                       ng-bind="GeneralInfo.UnderMin"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.OverLimit"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Inventory", "Admin", new { InventoryProductType = 4})')"
                                       ng-bind="GeneralInfo.OverMax"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="widget-box bd-green">
                    <div class="widget-header infobox-green">
                        <h4 class="widget-title">
                            <i class="fa-barcode fa"></i>                            
                            <span ng-bind="Language.Resource.ProductInfo"></span>
                        </h4>
                    </div>
                    <div class="widget-body" style="border: none; min-height: 144px;">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-7 info">                                    
                                    <span ng-bind="Language.Resource.NumProduct"></span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Products", "Admin")')"
                                       ng-bind="GeneralInfo.TotalProduct"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.NotYetPrice"></span>                                    
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Products", "Admin", new { ProductType = 1})')"
                                       ng-bind="GeneralInfo.NotInputPrice"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.NotYetCost"></span>  
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Products", "Admin", new { ProductType = 2})')"
                                       ng-bind="GeneralInfo.NotInputCost"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span ng-bind="Language.Resource.NotYetGroup"></span> 
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#" ng-click="LoadViewBody('@Url.Action("Products", "Admin", new { ProductType = 3})')"
                                       ng-bind="GeneralInfo.NotInputGroup"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="widget-box">
                    <div class="widget-header gray" style="border-top: none; border-left: none; border-right: none; border-bottom: 1px solid #ccc;">
                        <h4 class="widget-title">
                            <i class="fa-signal fa"></i>                            
                            <span ng-bind="Language.Resource.ChartRevenueWeek"></span> 
                        </h4>
                    </div>
                    <div id="chartContainer" class="widget-body" style="border: none; min-height: 155px;">
                        <div class="widget-main">
                            <div id="chartReportByDay"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="widget-box">
                    <div class="widget-header gray" style="border-bottom: 1px solid #ccc;">
                        <h4 class="widget-title">
                            <i class="fa-soundcloud fa"></i>                            
                            <span ng-bind="Language.Resource.Announcement"></span> 
                        </h4>
                    </div>
                    <div class="widget-body" style="border: none; min-height: 155px; display: inline-block">
                        <div class="widget-main">
                            <div grid-data="Announcement"
                                 grid-data-type="table" @*table/storedprocedure*@
                                 grid-data-action="get10" @*get/getall*@
                                 grid-data-object="T_Trans_Announcement_Store" @*table name or stored procedure name*@
                                 grid-filter-condition="[StoreId] = {{CurrentStore}}" @*must have [fieldname] for each colum field*@
                                 grid-sort-condition="[AnnouncementId.CreatedDate] DESC" @*must have [fieldname] for each colum field*@>

                                <div grid-defined-colum="AnnouncementId.Title" class="none-display"></div>
                                <div grid-defined-colum="AnnouncementId.Body" class="none-display"></div>
                                <div grid-defined-colum="AnnouncementId.CreatedBy.UserName, CreatorName" class="none-display"></div>
                                <div grid-defined-colum="AnnouncementId.CreatedDate" class="none-display"></div>

                                <div ng-repeat="item in DataSet.Announcement.Data">
                                    <div class="col-md-12">
                                        <div>
                                            <a href="#" data-toggle="modal" data-target="#announcementModal"
                                               ng-click="ShowAnnouncement(item)"
                                               ng-bind="item.Title"></a>
                                        </div>
                                        <div class="text-right" style="font-size: 11px">
                                            Đăng bởi: <span ng-bind="item.CreatorName"></span>
                                            - Ngày đăng: <span ng-bind="item.CreatedDate"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 margin-top-30" ng-if="!DataSet.Announcement.HasRecord()">                                    
                                    <span ng-bind="Language.Resource.NoAnnouncement"></span> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include src="'@Url.Action("AnnouncementModal", "Admin")'">
                </div>
            </div>
        </div>
    </div>
</div>